
<%= render 'shared/form' %>

<h2>gmap</h2>
<input id="address" type="textbox" value="宮の沢">
<input type="button" value="Encode" onclick="codeAddress()">
<div id="display">何かが表示される、、、、！</div>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map
let geocoder
var Lat
var Lng
// 下の1行を追加
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 43.082803, lng:141.2522387},
    zoom: 16,
  });

  marker = new google.maps.Marker({
    position:  {lat: 43.082803, lng:141.2522387},
    map: map
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress, 'region': 'jp'}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      Lat= Marker.getPosition().lat();
      Lng = Marker.getPosition().lng();
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-wxITLM8STxq0jxLCrCUeVkqjknqax2k&callback=initMap" async defer></script>




  <%= form_with model: @address, local: true do |f| %>
    <%# <%= f.hidden_field :lat, value: Lat %>
    <%# <%= f.hidden_field :lng, value: Lng %>
    <%= f.text_area :name %>
  <%= f.submit %>
  <% end %>
